<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="/css/itemEdit_style.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>

<body>
    <div id="header">
        <div class="container" id="brand">
            <img src="/img/brand_icon.png"></img>
            <h1>K-Penguin</h1>
        </div>
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-md-1.5"><a id="active" href="/user/<%= currentUser._id %>">Home</a></div>
                <div class="col-md-1.5"><a href="/transactions">Transactions</a></div>
                <div class="col-md-1.5"><a href="/artists">Artists</a></div>
                <div class="col-md-1.5"><a href="/items">Items</a></div>
                <div class="col-md-6"><input type="text" placeholder="Items..."></input><button onclick="window.location.href = '/results';" class="btn btn-default">Search</button></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <h1>Edit Item</h1>
            <p class="help-block">Labels with (*) are required fields.</p>
            <hr>
        <form method="post">
            <div class="form-group"><label>Item Name*</label><input required name="itemName" type="text" class="form-control" value="<%= item.name %>"></div>
            <div class="form-group"><label>Price (in Philippine Peso)*</label><input required name="itemPrice" type="number" class="form-control" value="<%= item.price %>"></div>
            <div class="form-group"><label>Status*</label>
                <select name="itemStatus" class="form-control" value="<%= item.status %>">
                <option value="available">Available</option>
                <option value="reserved">Reserved</option>
                <option value="notAvailable">Not Available</option>
                </select>
            </div>
            <div class="form-group"><label>Artist*</label><input required name="itemArtist" type="text" class="form-control" value="<%= item.artist %>"></div> 
            <div class="form-group"><label>Item Type*</label>
                <select name="itemType" class="form-control" value="<%= item.itemType %>">
                <option value="albums">Albums</option>
                <option value="apparel">Apparel</option>
                <option value="books">Books</option>
                <option value="lightsticks">Lightsticks</option>
                <option value="photocards">Photocards</option>
                <option value="posters">Posters</option>
                <option value="others">Others</option>
                </select>
            </div>
            <div class="form-group"><label>Description*</label><textarea required name="itemDescription" class="form-control"><%= item.description %></textarea></div>
            <hr>
            <input type="submit" class="btn btn-default" value="Apply Changes">
        </form>
        <hr>
            <p><a href='/item_delete/<%= item._id %>'><button type="button" class="btn btn-danger" accept="image/jpg,image/png,image/jpeg">Delete Item</button></a></p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>