<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="/css/item_style.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>

<body>
    <div id="header">
        <div class="container" id="brand">
            <img src="/img/brand_icon.png"></img>
            <h1>K-Penguin</h1>
        </div>
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-md-1.5"><a href="/user/<%= currentUser %>">Home</a></div>
                <div class="col-md-1.5"><a href="/transactions">Transactions</a></div>
                <div class="col-md-1.5"><a href="/artists">Artists</a></div>
                <div class="col-md-1.5"><a href="/items">Items</a></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 id="itemName"><%= item.name %></h1>
                    <h4 id="postedBy">| posted by <a id="itemUser" href="/user/<%= item.user.id %>">@<%= item.user.username %></a></h4>
                    <h3 id="itemPrice">₱<%= item.price %></h3>
                    <h3 id="<%= item.status %>"><%= item.status %></h3>
                    <hr>
                    <h2>Description</h2>
                        <p id="itemDescription"><%= item.description %></p>
                        <p><strong>Artist: </strong><a id="itemArtist" href="/artist/<%= item.artist.toLowerCase() %>"><%= item.artist %></a></p>
                        <p><strong>Item Type: </strong><a id="itemType" href="/item_type/<%= item.itemType.toLowerCase() %>"><%= item.itemType.toUpperCase() %></a></p>
                    <hr>
                    <% if(item.user.id.toString().trim() === currentUser.toString().trim()){ %>
                        <p><a href='/item_edit/<%= item._id %>'><button type="button" class="btn btn-default">Edit Item</button></a></p>
                    <% } else{ %>
                        <h2>Order Form</h2>
                        <p class="help-block">Labels with (*) are required fields.</p>
                            <form method="post">
                                <div class="form-group"><label>Recipient Name*</label><input required name="inputName" type="text" class="form-control" placeholder="Add Recipient Name"></div>
                                <div class="form-group"><label>Delivery Address*</label><input required name="inputAddress" type="text" class="form-control" placeholder="Add Delivery Address"></div>
                                <div class="form-group"><label>Notes</label><textarea required name="inputNotes" class="form-control" placeholder="Add Notes"></textarea></div>
                                <p><input type="submit" class="btn btn-success" value="Confirm"></p>
                            </form>
                    <% } %>
                </div>
                <div class="col-md-5">
                    <img id="itemImage" src="/img/item.png"></img>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>