<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="/css/itemEdit_style.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>

<body>
    <div id="header">
        <div class="container" id="brand">
            <img src="/img/brand_icon.png"></img>
            <h1>K-Penguin</h1>
        </div>
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-md-1.5"><a id="active" href="/user/<%= currentUser._id %>">Home</a></div>
                <div class="col-md-1.5"><a href="/transactions">Transactions</a></div>
                <div class="col-md-1.5"><a href="/artists">Artists</a></div>
                <div class="col-md-1.5"><a href="/items">Items</a></div>
                <div class="col-md-6"><input type="text" placeholder="Items..."></input><button onclick="window.location.href = '/results';" class="btn btn-default">Search</button></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <h1>Delete Item</h1>
            <hr>
            <div id="item" class="row">
                <div class="col-md-3"><img id="itemImage" src="/img/twice_album.jpeg"></img></div>
                <div class="col-md-7">
                    <h3 id="itemName"><a href="/item/<%= item._id %><"><%= item.name %></a></h3>
                    <p id="itemPrice"><%= item.price %></p>
                    <p id="<%= item.status %>"><%= item.status.toUpperCase() %></p>
                    <p id="itemDescription"><%= item.description %></p>
                </div>
            </div>
            <hr>
        <form method="post">
            <div class="form-group"><label>Enter your password to proceed with deletion:</label><input name="password" type="password" class="form-control"></div>
            <p id="error"><%= error %></p>
            <hr>
            <p><input type="submit" class="btn btn-danger" value="Delete Item"></p>
        </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>