<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="/css/transactions_style.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>

<body>
    <div id="header">
        <div class="container" id="brand">
            <img src="/img/brand_icon.png"></img>
            <h1>K-Penguin</h1>
        </div>
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-md-1.5"><a href="/user/<%= currentUser._id %>">Profile</a></div>
                <div class="col-md-1.5"><a href="/transactions">Transactions</a></div>
                <div class="col-md-1.5"><a href="/artists">Artists</a></div>
                <div class="col-md-1.5"><a href="/items">Items</a></div>
                <div class="col-md-1.5"><a href="/about">About</a></div>
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group"><input required name="search" id="searchBar" type="text" placeholder="Search items..."></input></div>
                        <p><input type="submit" id="searchButton" class="btn btn-default" value="Search"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">Your Sales</h1>
                <hr>
                <% if(sales.length == 0){ %>
                    <h3 class="text-center">No sales.</h3>
                <% } else{ %>
                    <% for(var i = 0; i < sales.length; i++) {%>
                        <div id="order">
                            <h4><strong>Transaction ID </strong><u><%= sales[i]._id %></u></h4>
                            <h4 id="itemName"><a href="/item/<%= sales[i].item.id %>"><%= sales[i].item.name %></a></h4>
                            <p id="orderedBy">| ordered by <a id="orderUser" href="/user/<%= sales[i].buyer.id %>">@<%= sales[i].buyer.username %></a></p>
                            <p id="orderName">Recipient: <%= sales[i].recipient %></p>
                            <p id="orderAddress">Address: <%= sales[i].address %></p>
                            <p id="orderNotes">Notes: <%= sales[i].notes %></p>
                        </div>
                    <% } %>
                <% } %>
            </div>

            <div class="col-md-6">
                <h1 class="text-center">Your Purchases</h1>
                <hr>
                <% if(purchases.length == 0){ %>
                    <h3 class="text-center">No purchases.</h3>
                <% } else{ %>
                    <% for(var i = 0; i < purchases.length; i++) {%>
                        <div id="purchase">
                            <h4><strong>Transaction ID </strong><u><%= purchases[i]._id %></u></h4>
                            <h4 id="itemName"><a href="/item/<%= purchases[i].item.id %>"><%= purchases[i].item.name %></a></h4>
                            <p id="postedBy">| posted by <a id="orderUser" href="/user/<%= purchases[i].seller.id %>">@<%= purchases[i].seller.username %></a></p>
                            <p id="purchaseName">Recipient: <%= purchases[i].recipient %></p>
                            <p id="purchaseAddress">Address: <%= purchases[i].address %></p>
                            <p id="purchaseNotes">Notes: <%= purchases[i].notes %></p>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>