<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="/css/userEdit_style.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>

<body>
    <div id="header">
        <div class="container" id="brand">
            <img src="/img/brand_icon.png"></img>
            <h1>K-Penguin</h1>
        </div>
        <div class="container" id="navbar">
            <div class="row">
                <div class="col-md-1.5"><a href="/user/<%= currentUser._id %>">Home</a></div>
                <div class="col-md-1.5"><a href="/transactions">Transactions</a></div>
                <div class="col-md-1.5"><a href="/artists">Artists</a></div>
                <div class="col-md-1.5"><a href="/item_types">Items</a></div>
                <div class="col-md-6"><input type="text" placeholder="Items..."></input><button onclick="window.location.href = '/results';" class="btn btn-default">Search</button></div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <h1>Edit Profile</h1>
            <p class="help-block">Labels with (*) are required fields.</p>
            <hr>
            <p id="error"><%= error %></p>
        <form method="post">
            <div class="form-group"><label>Name*</label><input name="name" type="text" class="form-control" value="<%= user.name %>"></div>
            <div class="form-group"><label>Password*</label><input name="password1" type="password" class="form-control" value="<%= user.password %>"></div> 
            <div class="form-group"><label>Re-type Password*</label><input name="password2" type="password" class="form-control"></div> 
            <div class="form-group"><label>Description*</label><textarea name="userDescription" class="form-control" ><%= user.description %></textarea></div>
            <div class="form-group"><label>Upload Profile Picture*</label><input name="userImage" type="file" accept="image/jpg,image/png,image/jpeg"><%= user.image %><p class="help-block">Only photos in .png and .jpg format are allowed.</p></div>
            <hr>
            <p><input type="submit" class="btn btn-default" value="Apply Changes"></p>
        </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>